@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yp5ooo');
  src:  url('fonts/icomoon.eot?yp5ooo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yp5ooo') format('truetype'),
    url('fonts/icomoon.woff?yp5ooo') format('woff'),
    url('fonts/icomoon.svg?yp5ooo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-config:before {
  content: "\e903";
}
.icon-advancedFilter:before {
  content: "\e904";
}
.icon-listView:before {
  content: "\e900";
}
.icon-columnsView:before {
  content: "\e902";
}
.icon-iconsView:before {
  content: "\e901";
}
