body {
    font-family: sans-serif;
    background-color: #EFEFEF;
}

button, input {
    border: none;
    outline: none;
    background-color: transparent;
}

button {cursor: pointer;}
input {cursor: text;}

p, th, td {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icon {
    font-size: 25px;
    color: #6A6A6A;
}

/*
    headerBar
*/

#headerBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;

    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);

    background-color: #FFF;
}

#headerBar > div {
    height: 50px;
    float: left;
}


/* buttons */

#headerBar > div > button.marked {
    width: 52px;
    height: inherit;

    padding: 2px 0;
    float: left;
    
    border: 2px none #95989A;
    border-bottom-style: solid;
}

#headerBar > div > button.marked.borderRight {border-right-style: solid;}
#headerBar > div > button.marked.borderLeft {border-left-style: solid;}
#headerBar > div > button.marked.current {background-color: #EFEFEF;}

#headerBar > div > button.marked:hover {
    padding-top: 3px;
    border-bottom: 3px solid #0099D8;
}


/* search */

#headerBar-search {
    width: calc(100% - 52*5px);
    width: -moz-calc(100% - 52*5px);
    width: -webkit-calc(100% - 52*5px);
}

#headerBar-search > input {
    width: calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
    height: 48px;

    padding: 0 40px 0 20px;
    border-bottom: 2px solid #95989A;

    text-align: center;
}

#headerBar-search > input:hover,
#headerBar-search > input:focus {
    height: 46px;

    padding-top: 1px;
    border-bottom: 3px solid #0099D8;
}


/* dropdown */

#headerBar > div > div.dropdown > button {
    padding: 15px 10px;
    
    position: absolute;
    top: 0;
    right: 104px;

    font-size: 20px;
}

#headerBar > div > div.dropdown > div {
    max-width: 300px;

    display: none;
    position: absolute;
    right: 102px;

    border: 2px solid #95989A;
    border-top: none;

    text-align: center;
    background-color: #FFF;
}

@media (max-width: 402px) {#headerBar > div > div.dropdown > div {max-width: 250px;}}
@media (max-width: 352px) {#headerBar > div > div.dropdown > div {max-width: 200px;}}
@media (max-width: 302px) {#headerBar > div > div.dropdown > div {max-width: 150px;}}
#headerBar > div > div.dropdown:hover > div {display: block;}

#headerBar > div > div.dropdown > div > button {
    width: 100%;

    padding: 6px 10px;
    display: block;

    text-overflow: ellipsis;
    overflow: hidden;
}

#headerBar > div > div.dropdown > div > button:hover {
    border-left: 2px solid #0099D8;
    font-weight: bold;
    background-color: #EFEFEF;
}


/* mainContent */

#mainContent {
    width: 100%;

    position: absolute;
    top: 50px;
    left: 0;
}