#columnsView {display: none;}

#columnsView > div.wrapper {
    display: flex;
    flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;

    text-align: center;
}

#columnsView > div.wrapper > div.column {
    height: calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: -webkit-calc(100vh - 50px);

    flex-grow: 1;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;

    overflow: hidden;
}

#columnsView > div.wrapper > div.column.small {
    max-width: 25%;
    border-right: 1px solid #95989A;
}

#columnsView > div.wrapper > div.column.big {max-width: 50%;}

#columnsView > div.wrapper > div.column.small > div.wrapper {
    height: calc(100vh - 85px);
    height: -moz-calc(100vh - 85px);
    height: -webkit-calc(100vh - 85px);
    
    position: relative;
    overflow: auto;
}

@media (min-width: 1000px) {
    #columnsView > div.wrapper > div.column.small {max-width: 20%;}
    #columnsView > div.wrapper > div.column.big {max-width: 60%;}
}

@media (min-width: 1250px) {
    #columnsView > div.wrapper > div.column.small {max-width: 16%;}
    #columnsView > div.wrapper > div.column.big {max-width: 68%;}
}

@media (min-width: 1556px) {
    #columnsView > div.wrapper > div.column.small {max-width: 13%;}
    #columnsView > div.wrapper > div.column.big {max-width: 74%;}
}

#columnsView > div.wrapper > div.column p.title {
    cursor: default;
    font-weight: bold;
}

/* filters & printers */

#columnsView > div.wrapper > div.column.small > div.wrapper > p.noPrinters {
    display: none;
    white-space: initial;
}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.filter {height: 35px;}
#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer {height: 71px;}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.filter,
#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer {
    border-bottom: 1px solid #95989A;
    cursor: pointer;
}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.filter,
#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer,
#columnsView > div.wrapper > div.column.big {background-color: #FFF;}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.filter:hover,
#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer:hover {
    border-left: 3px solid #0099D8;
    font-weight: bold;
}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.filter.current,
#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer.current {
    border-left: 3px solid #0099D8;
    background-color: #EFEFEF;
}

#columnsView > div.wrapper > div.column.small > p.title {border-bottom: 1px solid #95989A;}

#columnsView > div.wrapper > div.column.small p {
    line-height: 35px;
    padding: 0 8px;
}

/* printers */

#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer > div {float: left;}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer > div.info {
    width: calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);

    text-align: left;
}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer > div.status {
    width: 20px;
    height: 100%;
}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer.connected > div.status {background-color: #1DBE00;}
#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer.warning > div.status {background-color: #EBD000;}
#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer.error > div.status {background-color: #E40000;}
#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer.missing > div.status {background-color: #A8A8A8;}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer > div.status > p {display: none;}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.printer > div.status > p {
    display: block;
    padding: 0 0 0 1px;
    
    color: #FFF;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 71px;
}

/* filters */

#columnsView > div.wrapper > div.column.small > div.wrapper > div.filter > * {display: inline-block;}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.filter > p {
    width: calc(100% - 51px);
    width: -moz-calc(100% - 51px);
    width: -webkit-calc(100% - 51px);
}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.filter > button {
    float: right;
    padding: 8px;

    font-size: 19px;
}

#columnsView > div.wrapper > div.column.small > div.wrapper > div.filter > button:hover {color: #F00;}

/* details & information */

#columnsView > div.wrapper > div.column.big > div.wrapper {
    height: 100%;
    display: none;
    position: relative;
    overflow: auto;
}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper {margin: 8px 0;}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > div.wrapper {
    width: 50%;
    display: inline-block;
}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > div.wrapper.center {
    width: 100%;
    max-width: 500px;
}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > div.wrapper.left {
    float: left;
    text-align: right;
}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > div.wrapper.right {text-align: left;}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > p.title {
    padding: 0 8px;
    cursor: default;

    line-height: 36px;
    font-size: 1.1em;
    font-weight: bold;
}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > div.wrapper > p  {
    padding: 0 8px;
    cursor: default;
    line-height: 30px;
}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > div.wrapper > p.status.connected {color: #1DBE00;}
#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > div.wrapper > p.status.warning {color: #EBD000;}
#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > div.wrapper > p.status.error {color: #E40000;}
#columnsView > div.wrapper > div.column.big > div.wrapper > div.wrapper > div.wrapper > p.status.missing {color: #A8A8A8;}

#columnsView > div.wrapper > div.column.big > div.wrapper > button {
    margin: 8px 0 24px 0;
    padding: 10px 60px;
    
    border: 1px solid #95989A;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}

#columnsView > div.wrapper > div.column.big > div.wrapper > button:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

#columnsViewPrinterNotes > p {white-space: normal;}

/* help button */

#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown {
    position: absolute;
    top: 0;
    left: 0;
}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown > button {
    padding: 15px 5px 5px 20px;
    font-size: 15px;
}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown > div {
    width: 100vw;
    max-width: 300px;
    padding: 10px 10px;

    display: none;
    position: absolute;
    top: 30px;
    left: 35px;

    border: 1px solid #95989A;
    cursor: default;

    text-align: justify;
    font-size: .9em;
    line-height: 1.3em;
    background-color: #FFF;
}

@media (max-width: 784px) {#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown > div {max-width: 200px;}}
@media (max-width: 584px) {#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown > div {max-width: 150px;}}
@media (max-width: 484px) {#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown > div {max-width: 100px;}}
@media (max-width: 384px) {#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown > div {max-width: 50px;}}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown:hover > div {display: block;}

#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown > div > p {white-space: initial;}
#columnsView > div.wrapper > div.column.big > div.wrapper > div.dropdown > div > p.withIndentation {
    padding-left: 25px;
    text-indent: -10px;
}