#menus,
#menus > div.wrapper > div {display: none;}

#menus > div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#menusLeftover {
    opacity: .4;
    background-color: #000;
}

#menus > div.wrapper {
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    z-index: 1;
}

#menus > div.wrapper > div {
    min-width: 600px;

    position: relative;
    overflow: auto;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

    text-align: center;
    background-color: #EFEFEF;
}

@media (max-width: 600px) {
    #menus > div.wrapper > div {
        min-width: 0;
        width: 100%;
    }

    #menus > div.wrapper > div > div.wrapper > textarea {max-width: 90%!important;}
}

#menus > div.wrapper > div > div.wrapper {margin: 8px 20px;}
#menus > div.wrapper > div > div.wrapper:first-child {margin-top: 20px;}

#menus > div.wrapper > div > div.wrapper > textarea {
    max-width: 500px;
    padding: 8px;
}

#menus > div.wrapper > div > div.wrapper > div.wrapper {
    width: 50%;
    display: inline-block;
}

#menus > div.wrapper > div > div.wrapper > div.wrapper.center {
    width: 100%;
    max-width: 500px;
}

#menus > div.wrapper > div > div.wrapper > div.wrapper.left {
    float: left;
    text-align: right;
}

#menus > div.wrapper > div > div.wrapper > div.wrapper.right,
#menus > div.wrapper > div > div.wrapper > form.wrapper.right {text-align: left;}

#menus > div.wrapper > div > div.wrapper > p.title {
    cursor: default;

    line-height: 36px;
    font-size: 1.1em;
    font-weight: bold;
}

#menus > div.wrapper > div > div.wrapper > p.importantMsj {
    margin-top: 4px;
    cursor: default;
    color: #F00;
}

#menus > div.wrapper > div > div.wrapper > div.wrapper > p,
#menus > div.wrapper > div > div.wrapper > form.wrapper > p {
    cursor: default;
    line-height: 30px;
}

#menus > div.wrapper > div > div.wrapper > form.wrapper > input[type='text'],
#menus > div.wrapper > div > div.wrapper > form.wrapper > input[type='number'] {
    max-width: calc(50% - 16px);
    max-width: -moz-calc(50% - 16px);
    max-width: -webkit-calc(50% - 16px);
    padding: 6px 8px 0 8px;
    margin-bottom: 5px;

    display: block;
    cursor: text;

    border-bottom: 1px solid #A8A8A8;

    line-height: 18px;
}

#infoMenuNotes > p {white-space: normal;}

#filterFormName > input {
    width: 50%;
    margin: 0 25%;

    text-align: center;
}

#configForm > input {width: 80px;}

#listViewConfigMenu > div.wrapper > div.wrapper {
    padding-bottom: 16px;
    cursor: default;
}

#listViewConfigMenu > div.wrapper > div.wrapper > input[type='checkbox'] {
    margin: 8px;
    cursor: pointer;
}

#menus > div.wrapper > div > div.wrapper > form.wrapper {padding-bottom: 5px;}    /* to compensate the behaviour of inputs */
#menus > div.wrapper > div > div.wrapper > form.wrapper > input:focus {border-bottom: 1px solid #0099D8;}

#menus > div.wrapper > div > div.wrapper > div.wrapper.left > p {padding-right: 8px}
#menus > div.wrapper > div > div.wrapper > div.wrapper.right > p,
#menus > div.wrapper > div > div.wrapper > form.wrapper.right > p {padding-left: 8px}

#menus > div.wrapper > div > div.wrapper > div.wrapper > p.status.connected {color: #1DBE00;}
#menus > div.wrapper > div > div.wrapper > div.wrapper > p.status.warning {color: #EBD000;}
#menus > div.wrapper > div > div.wrapper > div.wrapper > p.status.error {color: #E40000;}
#menus > div.wrapper > div > div.wrapper > div.wrapper > p.status.missing {color: #A8A8A8;}


/* action button */

#menus > div.wrapper > div > button.actionButton {
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    max-width: 150px;

    margin: 8px 20px 24px 20px;
    padding: 10px 0;
    
    border: 1px solid #95989A;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}

#menus > div.wrapper > div > button.actionButton:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}


/* close button */

#menus > div.wrapper > div > button.closeButton {
    position: absolute;
    top: 0;
    right: 0;

    padding: 15px 20px 5px 5px;

    font-size: 16px;
}

#menus > div.wrapper > div > button.closeButton:hover {color: #F00;}


/* help button */

#menus > div.wrapper > div > div.dropdown {
    position: absolute;
    top: 0;
    left: 0;
}

#menus > div.wrapper > div > div.dropdown > button {
    padding: 15px 5px 5px 20px;
    font-size: 15px;
}

#menus > div.wrapper > div > div.dropdown > div {
    width: 100vw;
    max-width: 300px;
    padding: 10px 10px;

    display: none;
    position: absolute;
    top: 30px;
    left: 35px;

    border: 1px solid #95989A;
    cursor: default;

    text-align: justify;
    font-size: .9em;
    line-height: 1.3em;
    background-color: #FFF;
}

@media (max-width: 400px) {#menus > div.wrapper > div > div.dropdown > div {max-width: 200px;}}
@media (max-width: 300px) {#menus > div.wrapper > div > div.dropdown > div {max-width: 150px;}}
@media (max-width: 200px) {#menus > div.wrapper > div > div.dropdown > div {max-width: 100px;}}

#menus > div.wrapper > div > div.dropdown:hover > div {display: block;}

#menus > div.wrapper > div > div.dropdown > div > p {white-space: initial;}
#menus > div.wrapper > div > div.dropdown > div > p.withIndentation {
    padding-left: 25px;
    text-indent: -10px;
}