body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #EFEFEF;
    overflow: hidden;
}

button, input {
    border: none;
    outline: none;
    background-color: transparent;
}

button {cursor: pointer;}
input {cursor: text;}

.printersDiscoveryContainer p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.icon {
    font-size: 25px;
    color: #6A6A6A;
}


/* fixedLog */

#fixedLog {
    height: 50px;

    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    cursor: default;

    text-align: center;
}

#fixedLog p {
    font-size: 16px;
    line-height: 50px;
}


/* loadingBar */

#loadingBar {
    display: none;
    z-index: 3;
}

#loadingBar > div {z-index: inherit;;}

#loadingBar > div.leftover {
    position: fixed;
	width: 100%;
    height: 100%;
}

#loadingBar > div.loader {
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    
	position: fixed;
	left: 50%;
	top: 50%;

    border-radius: 50%;
	border: 16px solid #DDD;
    border-top-color: #0099D8;
	
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


/* context menus */

#contextMenuPrinters,
#contextMenuHeaders {
    display: none;
    position: absolute;

    border: 1px solid #BBB;

    z-index: 1;
    overflow: hidden;

    background-color: #FFF;
}

#contextMenuPrinters button,
#contextMenuHeaders button {
    width: 100%;

    padding: 8px;
    display: block;
    
    text-align: left;
    font-size: 15px;
}

#contextMenuPrinters button:hover,
#contextMenuHeaders button:hover {
    padding-left: 6px;
    border-left: 2px solid #0099D8;

    background-color: #EFEFEF;
}


/* mainContent */

#mainContent {
    width: 100%;

    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}


/* calendar */

#calendarMenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 30px 40px;

    background-color: #EFEFEF;
}


/* scrollbars */

.ps__rail-y {margin: 10px 0;}
#listView .ps__rail-y {margin-top: 46px;}